
@{
    ViewData["Title"] = "Каталог навыков";
}
<h3>Навыки</h3>
@* <table class="table-condensed">
    <tr>
        <td>Навык</td>
        <td></td>
    </tr>
    @foreach (var Skill in Model)
    {
        <tr>
            <td>@Skill.Name</td>
            <td><a href="~/Home/@Skill.Id">Редактировать</a></td>
        </tr>
    } *@
@* </table> *@