<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=KOMPUTER\SQLEXPRESS;Database=AliceDB;Trusted_Connection=True;TrustServerCertificate=True;" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments="\Alice1.dll" stdoutLogEnabled="false" stdoutLogFile="\logs\stdout" hostingModel="InProcess" />
  </system.webServer>
</configuration>
